@tailwind base;
@tailwind components;
@tailwind utilities;

/* Improve default font rendering across platforms */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/***** App theme helpers *****/
:root {
    color-scheme: light dark;
}
